*{
	padding:0;
	margin:0;
	}
.x1{
	background-color:black;
	width:100%;
	height:70px;
	}
.x1>img{
		margin-left:30px;
		margin-top:10px;
		float:left;
		}
.x1>ul{
        position:absolute;
		right:10px;
		top:10px;
		color:#FFFFFF;
		}
.x1>ul>li{
			float:left;
			margin-right:30px;
		}
a{
		text-decoration:none;
		color:#CC99CC;
		}
.x2{
		background-color:#CCFF99;
		padding:20px;
		}
.x3{
		background-color:white;
		padding:20px;
		width:auto;
		line-height:1.5em;
		margin-right:460px;
		}
.x4{
		background-color:white;
		padding:20px;
		width:400px;
		float:right;
		line-height:3em;
	}

.x4>h2{
		border-left:#FFCC99 2px solid;
		}
.x5{
		text-align:center;
		
		}
		
.x7{
		background-color:blue;
		width:70%;
		text-align:center;
		margin:auto;
		border-radius:10px;
		}
.x7>input{
		background-color:blue;
		color:white;
		border:0;
		}
.x8{
		padding:20px;
		background-color:white;
		margin-top:20px;
		margin-right:460px;
		line-height:1.5em;
	}
.x9{
		padding:20px;
		background-color:white;
		margin-top:20px;
		margin-bottom:20px;
		margin-right:460px;
		float:left;
	}
.x10{
		padding:20px;
		text-align:center;
		border:1px solid;
		margin-right:20px;
		margin-bottom:20px;
		float:left;
		width:233;
		}
.x11{
		clear:both;
		padding:20px;
		background-color:white;
		margin-top:510px;
		margin-right:460px;
		}
.x12{
		width:100%;
		height:250px;
		text-align:left;
		}
.x13{
		background-color:black;
		color:white;
		}
.last{
		width:100%;
		background-color:black;
		text-align:center;
		color:white;
		height:40px;
		padding-top:20px;
		}
