*{
  margin:0;
  padding:0;
}
.p01{
     background-color:#33CCFF;  
     height:150px;
}
.p011{
    float:left;
	margin-left:40px;
	margin-top:10px;
}
.p012{
    float:left;
	position:absolute;
	top:0;
	right:20px;
}
.p012>li{ 
       float:left;
       color:#33FF66;
	   text-decoration:none;
	   margin-left:30px;
	   }

a{  color:#33FF66;
	   text-decoration:none;}
a:visited{color:#FF00CC}
.p02{margin:10px;background-color:#33CCAA;height:250px;}
img{float:left;}
.p03{margin:20px;}
.p031{width:100%;height:250px;text-align:left;}
.p032{background-color:black;color:white;}
.p04{margin:50px;}
.p04>h3{border-left:3px solid #ccc;}
.p041{text-align:center;line-height:2em;}
textarea{width: 50%;height: 200px;}
#la{margin-top:0;}
.p042{text-align:center;width:70%;height:50px;background-color:blue;margin:20px auto;padding-top:25px;}
.p043{background-color:blue;color:white;border:0;}
.p05{text-align:center;background-color:black;height:60px;color:white;padding-top:30px;width:%100;}
